<section class="locations">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-5">
            <div class="forms">
              <h4 class="ft-bold">Please submit the form</h4>
              <p>If you are interested leave your feedbacks</p>
                 <div class="alert alert-success" id="sucmsg1" role="alert" style="display:none;"><span id="succmsg1"></span>
                                                  <!--   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button> -->
                                                </div>
                 <form name="secbrand" id="secbrand" method="post" onsubmit="return validatecook(secbrand);" autocomplete="off">
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Name" name="enq_name" id="enq_name">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" id="enq_mobile" name="enq_mobile" placeholder="Mobile No">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="enq_email" id="enq_email" placeholder="E Mail Address">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" id="eqlocation" name="eqlocation" placeholder="Feedback">
                  </div>
                  <div class="buttonsub submit_row">
                    <button type="submit" class="btn ft-ssbold">Submit Form</button>
                  </div>
              </form>
            </div>
        </div>
        <div class="col-md-12 col-lg-7">
            <div class="colseculli">
              <h3 class="ft-sbold"> Support</h3>
              <p>FarmHandFocus assists farmers to be more active and produce more yields. Some of these are:</p>
              <ul>
                <li>Empowering farmers, one click at a time.</li>
                <li>Cultivating a brighter future for farmers worldwide.</li>
                <li>Join us in sowing the seeds of agricultural innovation.</li>
                <li>Elevating farmers' livelihoods through digital empowerment</li>
                <li>Harvesting hope, together, for our farming communities</li>
                
              </ul>
            </div>
        </div>
      </div>
    </div>
  </section>