<section class="locations">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-5">
            <div class="forms">
              <h4 class="ft-bold">Please submit the form</h4>
              <p>If you are interested in Franchisee</p>
                 <div class="alert alert-success" id="sucmsg1" role="alert" style="display:none;"><span id="succmsg1"></span>
                                                  <!--   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button> -->
                                                </div>
                 <form name="secbrand" id="secbrand" method="post" onsubmit="return validatecook(secbrand);" autocomplete="off">
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Name" name="enq_name" id="enq_name">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" id="enq_mobile" name="enq_mobile" placeholder="Mobile No">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="enq_email" id="enq_email" placeholder="E Mail Address">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" id="eqlocation" name="eqlocation" placeholder="Location">
                  </div>
                  <div class="buttonsub submit_row">
                    <button type="submit" class="btn ft-ssbold">Submit Form</button>
                  </div>
              </form>
            </div>
        </div>
        <div class="col-md-12 col-lg-7">
            <div class="colseculli">
              <h3 class="ft-sbold"> Support</h3>
              <p>Farmhand Focus assists franchisees in all areas of the project. Some of these are:</p>
              <ul>
                <li>Preparation of a detailed project report</li>
                <li>Site selection</li>
                <li>The interior design and architecture</li>
                <li>Selection and procurement of farm inputs and equipment</li>
                <li>Project coordination</li>
                <li>Workforce screening and training</li>
                <li>Information technology and systems</li>
                <li>Marketing Strategy development</li>
                <li>Commissioning and pre-launch Activities</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </section>