
<div class="container-fluid bg-success">
  <app-sidenav></app-sidenav>
</div>
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-light slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/images/banner-1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>One point solutions for all farmer’s needs !!!</h1>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/images/banner.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>One point solutions for all farmer’s needs !!!.</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner_2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>One point solutions for all farmer’s needs !!!</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<section class="aboutus" id="aboutUs">
  <div class="container">
    <div class="innerabout">
      <div class="imgposition">
        <img src="\assets\images\abtus.png">
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-12"></div>
        <div class="col-lg-7 col-md-12 ">
          <div class="abtswapper">
            <div class="abttile">
              <h6 class="ft-sbold">About Us</h6>
            </div>
            <div class="ozone_frame">
              <!-- <h2 class="ft-bold">Ozone Farm Solutions private limited</h2> -->
              <p>Farmhandfocus, founded , is your go-to for all things agriculture. We provide high-quality inputs and services to farmers, using the latest tech and tools to ensure top-notch solutions..</p>
              <ul>
                <li>Our approach is all about connecting with farmers in a meaningful way. </li>
                <li>We build strong connections both backward and forward, creating a reliable pathway for products and services to reach rural India. </li>
                <li>Our aim is to help farmers in reducing input cost by <span class="ft-bold">20%-30%, 10-20%</span> more yield and <span class="ft-bold">30% to 40%</span> more price for their farm produce. </li>
              </ul>
            </div>
            <div class="missionwappers">
              <div class="row">
                <div class="col-md-6">
                  <div class="heading_vis">
                    <div class="imgs">
                      <img src="assets/images/vision.png">
                      <h4 class="ft-sbold">Our Vision</h4>
                    </div>
                    <p>When we talk about backward linkages, we're talking about things like helping farmers get access to seeds, modern machinery, crop insurance, and the right fertilizers and chemicals they need. .</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="heading_vis">
                    <div class="imgs">
                      <img src="assets/images/mission.png">
                      <h4 class="ft-sbold">Our Mission</h4>
                    </div>
                    <p>Service to the farmers by providing quality agricultural inputs and services in fair price and help to get remunerative price for farm produce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="framing_solutions" id="Products">
  <div class="container">
    <div class="producs_tile">
      <h5 class="ft-sbold">Our Products</h5>
      <h2 class="ft-bold">FARMING SOLUTIONS</h2>
    </div>
    <div class="lisofproducts">
      <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <div class="product">
                      <div class="img_p">
                        <img src="assets/images/pro_1.png" alt="">
                      </div>
                      <div class="wapper">
                        <h4 class="ft-sbold">Fertilizers</h4>
                        <p>Farmhand Focus offers elaborate range of straight fertilizers, complex fertilizers and mixed fertilizers at one single place. We also provide range of micronutrient fertilizers, plant growth regulators and plant growth promotors.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="product">
                      <div class="img_p">
                        <img src="assets/images/pro_2.png" alt="">
                      </div>
                      <div class="wapper">
                        <h4 class="ft-sbold">Agrochemicals</h4>
                        <p>Our crop protection products: Chemical pesticides (Insecticides, Fungicides, Herbicides and Bactericides), Bio pesticides and traps (Sticky traps, pheromone traps and solar light traps).</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
        <div class="product">
          <div class="img_p">
            <img src="assets/images/pro_3.png" alt="">
          </div>
          <div class="wapper">
            <h4 class="ft-sbold">Seeds</h4>
            <p>High-quality Seeds of various field crops, horticultural crops and forage crops available in all our delivery centres.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="product">
          <div class="img_p">
            <img src="assets/images/pro_4.png" alt="">
          </div>
          <div class="wapper">
            <h4 class="ft-sbold">Animal Feeds</h4>
            <p>Various brands of quality cattle feed, fish feed and poultry feed and poultry supplements supplied</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="product">
          <div class="img_p">
            <img src="assets/images/pro_5.png" alt="">
          </div>
          <div class="wapper">
            <h4 class="ft-sbold">Farm Machinery</h4>
            <p>Farm Mechanization emerges as an important technological intervention for bringing in the desired productivity push in the Agricultural sector. Machinery banks for small and marginal farmers can be the big game changers and provided by FarmHandFocus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="product">
          <div class="img_p">
            <img src="assets/images/pro_6.png" alt="">
          </div>
          <div class="wapper">
            <h4 class="ft-sbold">Market linkage for farm produce</h4>
            <p>Farmers can contact Delivery centres physically or contact via phone or access website for selling or storing their produce. Use combinations of sensors, IOT, block chain and ML driven data systems to create end-to-end traceability within the food chains.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <app-support></app-support>
</div>
<section class="footerimg" id="contactus">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="fooimg">
          <img src="assets/images/footerimg.png" alt="">
        </div>
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="conatcinfo">
          <div class="infotile">
            <h2 class="ft-bold">Contact <span class="ft-med">Info</span>
            </h2>
            <p>Our customer service team are available weekdays 8am to 10pm and weekends 9am to 5pm</p>
          </div>
          <div class="registeroffice">
            <div class="row">
              <div class="col-md-6">
                <div class="office">
                  <h5 class="ft-ssbold">Registered Office:</h5>
                  <p>No.5 ,bhuvanagiri <br> OMBR layout,<br> banaswadi, Bangalore 560033 </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="office">
                  <h5 class="ft-ssbold">Corporate Office:</h5>
                  <p>#234, <br> Maruthi sevanagar, <br> old baiyappanahalli , <br> bangalore 560033 </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="office">
                  <h5 class="ft-ssbold">Email Address</h5>
                  <p>
                    mirshath45&#64;gmail.com
                    <br>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="office">
                  <h5 class="ft-ssbold">Mobile Number</h5>
                  <p>+91-8088936769 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer_sings">
  <p>Copyright © 2024 FarmHandFocus. All rights reserved.</p>
</div>
